$icon-font-path: '../fonts/';

$primary-color: #008AE8;
$secondary-color: #B3E0FF;
$global-border: 1px solid #B5B5B5;
// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "icons";

body,
html {
  height: 100%;
  width: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Topbar
   ========================================================================== */

.topbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.header-logo {
  height: 50px;
  display: flex;
  align-items: center;

  cursor: pointer;
}

.header-logo-link {
}

.header-logo-title {
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 400;
  color: $primary-color;
  opacity: 0.8;

  &:hover {
    color: $primary-color;
    text-decoration: none;
    opacity: 1;
  }
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
}

.water-log {
  width: 100%;
  height: 100%;
  top: 50%;
  position: fixed;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.water-log-cup-size-text {
  width: 100%;
  margin: 0;
  text-align: center;
  position: relative;
  top: -80px;
}


.water-quantity {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  height: 0%;
  transition-duration: 0.5s;
  background: $secondary-color;
}

.content {
  position: relative;
  height: 100%;
  display: block;
}

.water-log-quantity-container {
  position: relative;
  top: -100px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-weight: 100;
  font-size: 50px;
}

.water-log-quantity-value {
  font-weight: 300;
  font-size: 0.5em;
  margin: 0;
}

.water-log-quantity-cups {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  margin-top: 10px;
}

.water-log-target-container {
  position: fixed;
  top: 50px;
  left: 50px;
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  border-radius: 3px;
}

.btn--add-drink {
  margin: 5px;
  height: 80px;
  width: 200px;
  color: #FFF;
  border-radius: 200px;
  font-size: 40px;
  background: $primary-color;
  box-shadow: 0 5px 0 darken($primary-color, 10%);
  transition-duration: 0.1s;

  &:hover {
    color: #FFF;
    background: darken($primary-color, 3%);
    outline: none;
  }

  &:focus {
    outline: none;
    color: #FFF;
  }

  &:active {
    outline: none !important;
    box-shadow: 0 1px 0 darken($primary-color, 10%);
  }
}

.water-quantity-percentage {
  position: fixed;
  bottom: 80px;
  text-align: center;
  width: 100%;
}

.target-label {
  font-weight: 300;
}

.cups {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}

.cup {
  position: relative;
  color: $primary-color;
  font-size: 75px;
  opacity: 0.1;
  transform: rotateY(0deg);
  top: 0;
  transition: opacity linear 0.2s, transform 0.5s cubic-bezier(0.750, 0.235, 0.440, 1.650), top 0.5s cubic-bezier(0.750, 0.235, 0.440, 1.650);
}

.cup-number {
  font-size: 18px;
  position: relative;
  top: 10px;
  font-weight: 400;
  text-align: center;
  color: #FFF;
  z-index: 9;
}

.cup--active {
  opacity: 1;
  top: -60px;
  transform: rotateY(180deg);
}

.cup-container {
  position: relative;
  top: 100px;
  display: flex;
  width: 100px;
  flex-direction: column;
  justify-content: center;
}

.cup-check {
  font-size: 16px;
  color: $primary-color;
  position: relative;
  bottom: 0px;
  opacity: 0;
  transition: opacity 0.4s linear;
}

.cup-check--active {
  opacity: 1;
}

/* ==========================================================================
   Settings Button
   ========================================================================== */

  .btn--settings {
    font-size: 25px;
    background: transparent;
    color: $primary-color;
    outline: none;

    &:hover {
      color: darken($primary-color, 5%);
    }

    &:focus {
      color: $primary-color;
      outline: none;
    }
  }

/* ==========================================================================
   Global Overrides Style
   ========================================================================== */
   input {
    border: $global-border;

    &:focus {
      border: 1px solid $primary-color;
      box-shadow: 0 0 10px 1px rgba(0, 138, 232, 0.2);
    }
   }

   button {
    outline: none !important;

    &:active {
      outline: none !important;
    }

    &:focus {
      outline: none !important;
    }
   }

/* ==========================================================================
   Settings Panel
   ========================================================================== */

.settings-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  pointer-events: none;
  z-index: 3;
  display: block;
  opacity: 0;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 60%;
  height: 100%;
  bottom: -1px;
  top: 70px;
  border-radius: 6px;
  background: #FFF;
  border: $global-border; 
  transition: opacity 0.1s linear;
}

.settings-panel--active {
  pointer-events: auto;
  opacity: 1;
  display: block;
}

.settings-panel-header {
  font-weight: 300;
  margin: 0;
  margin-bottom: 50px;
}

.settings-panel-form {
  width: 90%;
}

.settings-panel-cup-size-label {
  margin-bottom: 15px;
  font-weight: 300;
}

.settings-panel-cup-size {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.settings-panel-cup-size-input {
  border-radius: 3px;
  font-weight: 300;
  border: $global-border;
  width: 100%;
  height: 60px;
  padding: 10px;
  font-size: 27px;
  margin-bottom: 20px;
}

.actions-container {
  display: flex;
  justify-content: space-between;
}

.btn--save-settings {
  width: 120px;
  background: $primary-color;
  border-radius: 30px;
  height: 50px;
  color: #FFF;
  font-size: 18px;
  font-weight: 300;

  &:hover {
    background: darken($primary-color, 5%);
    color: #FFF;
  }

  &:focus {
    color: #FFF;
  }
}

.btn--reset {
  border-radius: 33px;
  width: 120px;
  border: $global-border;
  height: 50px;
  color: #D53B25;

  &:hover {
    color: #D53B25;
    border: $global-border;
  }

  &:active {
    background: #FAFAFA;
    border: $global-border;
  }

  &:focus {
    color: #D53B25;
    border: $global-border;
  }
}

/* ==========================================================================
   Body overlay
   ========================================================================== */
.body-overlay {
  pointer-events: none;
  z-index: 2;
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: opacity 0.2s linear;

  &--active {
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
  }
}

.shortcuts {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.shortcut {
  padding: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shortcut-text {
  font-size: 0.8em;
  font-weight: 400;
  vertical-align: middle;
  line-height: 1;
  color: #000;
}

.shortcut-keys {
  padding: 0px;
  margin-bottom: 8px;
  text-align: center;
  background: #FFF;
  width: 30px;
  border-radius: 3px;
  border: 1px solid #b5b5b5;
  box-shadow: 0 2px 0 #b5b5b5;
}

@media screen and (max-width: 500px) {
  .water-log-quantity-value {
    font-weight: 600;
    font-size: 1em;
    margin: 0;
  }

  .cups {
    flex-flow: row wrap;
    justify-content: center;
  }

  .water-quantity-percentage {
    padding: 0 40px;
  }

  .settings-panel {
    width: 90%;
  }

  .actions-container {
    flex-direction: column;
    flex: flex-start;
  }

  .btn--reset,
  .btn--save-settings {
    width: 100%;
    margin: 5px 0;
  }
}
