$icon-font-path: '../fonts/';

$primary-color: #008AE8;
$secondary-color: #B3E0FF;
// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "icons";

body,
html {
  height: 100%;
  width: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
}

.water-log {
  width: 100%;
  height: 100%;
  top: 50%;
  position: fixed;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.water-log-cup-size-text {
  width: 100%;
  margin: 0;
  text-align: center;
  position: relative;
  top: -80px;
}


.water-quantity {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  height: 0%;
  transition-duration: 0.5s;
  background: $secondary-color;
}

.content {
  position: relative;
  height: 100%;
  display: block;
}

.water-log-percentage {
  position: fixed;
  margin: 0;
  top: 50px;
  right: 50px;
  font-weight: 100;
  font-size: 50px;
}

.water-log-target-container {
  position: fixed;
  top: 50px;
  left: 50px;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  border-radius: 3px;
  padding: 0;
}

.btn--add-drink {
  margin: 5px;
  flex-basis: 80px;
  height: 40px;
  width: 200px;
  color: #FFF;
  font-size: 24px;
  background: $primary-color;
  text-transform: uppercase;

  &:hover {
    color: #FFF;
  }

  &:focus {
    color: #FFF;
  }
}

.btn--remove-drink {
  margin: 5px;
  flex-basis: 80px;
  height: 40px;
  width: 200px;
  color: #FFF;
  font-size: 24px;
  background: #FF8194;
  text-transform: uppercase;

  &:hover {
    color: #FFF;
  }

  &:focus {
    color: #FFF;
  }
}


.btn--reset {
  position: fixed;
  bottom: 0;

  height: 35px;
  width: 100px;
  color: #333;
  background: #d7d7d7;

  &:hover {
    color: #333;
  }

  &:focus {
    color: #333;
  }
}

.target-label {
  font-weight: 300;
}
